<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout :: head('Upload')">
    <link rel="stylesheet" th:href="@{/vendor/materialize/css/materialize.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
  </head>
  <body>
    <div th:replace="layout :: nav('upload')"></div>
    <div class="container upload">
      <header>
        <!--<div class="breadcrumb"></div>-->
        <div class="logo">
          <!--<h1>The RIDE</h1>
          <h4>Upload</h4>-->
          <img th:src="@{/assets/pictures/the-ride.png}"> </img>
        </div>  
        <div class="pagetip">
            <h6>Upload <strong>.csv file</strong> with correctly formatted trip manifest to create a ledger.</h6>
        </div>
      </header>
        <form class="col-md-12 file-upload" th:action="@{/upload}" method="post" enctype="multipart/form-data">
          <div class="row" th:if="${flash != null}">
            <div th:classappend="${#strings.toLowerCase(flash.status)}" th:text="${flash.message}" class="col-md-6 flash"></div>
            <div class="col-md-6"></div>
          </div>
          <div class="row">
              <div class="bus-num-wrapper col-md-6">
                <label for="numBus">Number of busses to use: </label>
                <input type="number" id="numBus" name="numBus" min="1" max="100"/>
              </div>
          </div>
          <div class="row">
            <div class="file-wrapper file-field input-field col-md-6">
              <div class="btn">
                <span>File</span>
                <input type="file" id="file" accept="*.csv" name="file"/>
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Upload .csv file"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="button-wrapper">
                <button type="submit" class="button" id="submit-button">Submit</button>
              </div>
            </div>
          </div>
        </form>    
        <div class="custom-modal"><!-- Place at bottom of page --></div>
    </div>
    <div th:replace="layout :: scripts"></div>

  </body>
</html>